/*
    1. COLORS
    2. SIZE
*/


/**         COLORS        **/

// Global
$default : black;
$primary-color: #73c2ed;

// btn
$default-btn-color : white;


/**         END - COLORS        **/
/**         SIZE        **/
$small : 480px;
$medium : 1024px;